.container {
  width: 100%;
}
#hawaii, #philadelphia, #mtBachelor, #noMatch {
  display: none;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: black;

  text-align: center;
}

.icon {
  width: 40px !important;
  height: 40px !important;
}

/* Header Styling */
#header {
  color: white;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 40px;
  text-align: center;
  background-color: rgb(100%, 37%, 2%);
}

#header h1 {
  font-weight: 900;
  font-size: 74px;
  color: white;
}

#header p {
  font-size: 20px;
  font-weight: 300;
}

.arrow {
  width: 60px !important;
  height: 60px !important;
  padding-top: 40px;
}

/* Form Styling */
#input {
  padding: 40px 40px;
  color: black;
  font-weight: 300;
  text-align: center;
}

.form-control {
  text-align: center;
}

label {
  font-weight: 400;
  font-size: 17px;
}

#submit {
  background-color: white;
  color: rgb(100%, 37%, 2%);
  border: 1px solid;
  border-radius: 0px;
  padding: 15px 20px;
  margin-top: 10px;
}

#submit:hover {
  background-color: rgb(100%, 37%, 2%);
  color: white;
}

/* Hawaii Styling */

#hawaii {
  padding: 120px 40px;
  background-color: rgb(91%, 81%, 0%);
  text-align: center;
}

#hawaii p {
  padding-bottom: 20px;
}

#returnHawaii {
  background-color: rgb(91%, 81%, 0%);
  color: black;
  border: 1px solid;
  border-radius: 0px;
  padding: 15px 20px;
}

#returnHawaii:hover {
  background-color: black;
  color: rgb(91%, 81%, 0%);
}

/* Philadelphia Styling */

#philadelphia {
  padding: 120px 40px;
  background-color: rgb(71%, 95%, 15%);
  text-align: center;
}

#Philadelphia p {
  padding-bottom: 20px;
}

#returnPhiladelphia {
  background-color: rgb(71%, 95%, 15%);
  color: black;
  border: 1px solid;
  border-radius: 0px;
  padding: 15px 20px;
}

#returnPhiladelphia:hover {
  background-color: black;
  color: rgb(71%, 95%, 15%);
}

/* Mt Bachelor Styling */

#mtBachelor {
  color: white;
  padding: 120px 40px;
  background-color: rgb(0%, 47%, 86%);
  text-align: center;
}

#mtBachelor p {
  padding-bottom: 20px;
}

#returnBachelor {
  background-color: rgb(0%, 47%, 86%);
  color: white;
  border: 1px solid;
  border-radius: 0px;
  padding: 15px 20px;
}

#returnBachelor:hover {
  background-color: white;
  color: rgb(0%, 47%, 86%);
}


#noMatch {
  color: white;
  padding-top: 60px;
  padding-bottom: 40px;
  background-color: rgb(96%, 11%, 21%);
}

#noMatch a {
  color: white;
  font-style: normal;
}

#noMatch a:hover {
  text-decoration: underline;
}

#returnNoMatch {
  background-color: rgb(96%, 11%, 21%);
  color: white;
  border: 1px solid;
  border-radius: 0px;
  padding: 15px 20px;
}

#returnNoMatch:hover {
  background-color: white;
  color: rgb(96%, 11%, 21%);
}

#noMatch img {
  max-width: 20%;
}

#noMatchDestinations {
  margin-top: 40px;
  margin-bottom: 40px;
}
